# CodeQL Queries

config/* @geekmasher
cpp/* @geekmasher
csharp/* @geekmasher
java/* @geekmasher
javascript/* @geekmasher
python/* @geekmasher
ruby/* @geekmasher

# CI / Scripts
.github/workflows/* @geekmasher
.github/scripts/* @geekmasher
