# CodeQL Queries

config/* @geekmasher @aegilops @nickliffen
cpp/* @geekmasher @aegilops @nickliffen
csharp/* @geekmasher @aegilops @nickliffen
java/* @geekmasher @aegilops @nickliffen
javascript/* @geekmasher @aegilops @nickliffen
python/* @geekmasher @aegilops @nickliffen
ruby/* @geekmasher @aegilops @nickliffen

# CI / Scripts
.github/workflows/* @geekmasher @aegilops @nickliffen
.github/scripts/* @geekmasher @aegilops @nickliffen

# Misc
* @geekmasher @aegilops @nickliffen
