# CodeQL Queries

config/* @geekmasher @aegilops
cpp/* @aegilops
csharp/* @geekmasher @aegilops
java/* @geekmasher @aegilops
javascript/* @geekmasher @aegilops
python/* @geekmasher @aegilops
ruby/* @geekmasher @aegilops

# CI / Scripts
.github/workflows/* @geekmasher @aegilops @nickliffen
.github/scripts/* @geekmasher @aegilops @nickliffen

# Misc for Owner
* @geekmasher
