name: Build CodeQL Queries 

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        language: [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Debug Checkout
        run: |
          echo "codeql/${{ matrix.language }}-queries:"
          find ./codeql -type f -name "qlpack.yml" -exec grep -l "name: codeql/${{ matrix.language }}-queries" {} \;
          echo "codeql/${{ matrix.language }}-all:"
          find ./codeql -type f -name "qlpack.yml" -exec grep -l "name: codeql/${{ matrix.language }}-all" {} \;
          echo "codeql/suite-helpers:"
          find ./codeql -type f -name "qlpack.yml" -exec grep -l "name: codeql/suite-helpers" {} \;

      - name: Install CodeQL
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh extension install github/gh-codeql
          # gh codeql set-channel nightly
          gh codeql version
          # Install the CodeQL Pack
          gh codeql pack download "codeql/${{ matrix.language }}-queries"

      - name: Compile Queries
        run: |
          gh codeql query compile --warnings=error --search-path=./codeql --additional-packs=./codeql/ ./${{ matrix.language }}/

      - name: Compile / Check Suites
        run: |
          for suite in ./${{ matrix.language }}/suites/*.qls ; do
            echo " >> $suite"
            codeql resolve queries \
              --search-path=./codeql \
              --additional-packs=./codeql \
              $suite
          done

      - name: Test Queries
        run: |
          if [ -d ./tests/${{ matrix.language }}-tests/ ]; then
          gh codeql test run --additional-packs=./ --additional-packs=./codeql ./tests/${{ matrix.language }}-tests/
          fi

  integration-tests:
    runs-on: ubuntu-latest
    needs: [ compile ]
    
    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript', 'python' ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: "advanced-security/codeql-queries"
          ref: testing
          token: ${{ github.token }}
          path: ./tests

      - name: Git Info
        id: git-info
        run: |
          cd ./tests
          echo ::set-output name=sha::$(git rev-parse HEAD)

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ matrix.language }}
          config-file: ./config/codeql.yml
          # source-root: ./tests/${{ matrix.language }}

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2
        # with:
        #   working-directory: ./tests/${{ matrix.language }}

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          # checkout_path: ./tests/${{ matrix.language }}
          ref: refs/heads/testing
          sha: ${{ steps.git-info.outputs.sha }}
