name: Build CodeQL Queries 

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        language: [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50
        id: changes
        with:
          filters: |
            src:
              - '${{ matrix.language }}/**'

      - name: Install CodeQL
        if: steps.changes.outputs.src == 'true'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh extension install github/gh-codeql
          gh codeql pack download "codeql/${{ matrix.language }}-queries"

      - name: Compile Queries
        if: steps.changes.outputs.src == 'true'
        run: |
          ./.github/scripts/pr-compile.sh ${{ github.event.number }} ${{ matrix.language }}

      - name: Compile / Check Suites
        if: steps.changes.outputs.src == 'true'
        run: |
          for suite in ./${{ matrix.language }}/suites/*.qls ; do
            echo " >> $suite"
            gh codeql resolve queries \
              --search-path=./codeql \
              --additional-packs=./codeql \
              $suite
          done

      - name: Test Queries
        if: steps.changes.outputs.src == 'true'
        run: |
          ./.github/scripts/pr-tests.sh ${{ github.event.number }} ${{ matrix.language }}
